.task-detail_container {
  background: #f6f6f6;
  padding:24px;
  border-radius: 8px;
}

.task-detail_attributes {
  position: relative;
  margin-top: 12px;
  font-size: 14px;
}
.task-detail_description {
  margin:12px 0;
  text-align: left;

  .text--description {
    margin-top:20px;
    p {
      margin-bottom: 12px;
    }
    h1,h2,h3,h4,h5,h6 {
      margin-bottom: 18px;
    }
  }
}
.task-detail_attributesContent {
  &--left {
    float:left;
    width: 50%;
    margin-top:12px;
  }
  &--right {
    float:right;
    width: 50%;
    margin-top:12px;
  }
}
.task-detail_attributesList {
  display: table;
  list-style: none;
  li {
    margin-bottom: 6px;
  }
  .attribute-label {
    width: 170px;
    margin-right: 10px;
    display: table-cell;
    font-weight: bold;
  }
  .attribute-value {
    width: 170px;
    display: table-cell;
  }
}
