$main-color:rgba(66, 164, 197, 1);
$main-color-light: rgba(66, 164, 197, 0.20);
$main-color-hover: rgba(33, 107, 151, 1);
$text-color:#475160;
$error-color: #ff3d55;
$bg-color: #ffffff;
$bg-fullscreen: #f7f8fb;
